<table>
  <thead>
    <tr>
			<th>first_name</th>
			<th>last_name</th>
			<th>email</th>
			<th>email2</th>
			<th>phone_number</th>
			<th>phone_number2</th>
			<th>category</th>
			<th>company_url</th>
			<th>about_me</th>
			<th>status</th>
			<th>comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
		<%= current_user.leads.each do |lead| %>
      <tr>
			<td> <%= lead.first_name %></td>
			<td> <%= lead.last_name %></td>
			<td> <%= lead.email %></td>
			<td> <%= lead.email2 %></td>
			<td> <%= lead.phone_number %></td>
			<td> <%= lead.phone_number2 %></td>
			<td> <%= lead.category %></td>
			<td> <%= lead.company_url %></td>
			<td> <%= lead.about_me %></td>
			<td> <%= lead.status %></td>
			<td> <%= lead.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	