<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.lead_generators.each do |lead_generator| %>
      <tr>
        <td><%= lead_generator.name %></td>
        <td><%= lead_generator.email %></td>
        <td>
        	<%= form_for lead_generator, url: '/update_manager', method: 'put' do %>
        	  <%= hidden_field_tag :id, lead_generator.id %>
        		<%= select("update_manager", "parent_id", Users::Manager.all.map {|a| [a.name, a.id] }) %>
        		<%= submit_tag "Submit" %>
        	 <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>